<div id="cpanelHolder">
    <div class="navBlock" ng-controller="PostCtrl" ng-click="postManager()">
        Post Manager
    </div>

    <div class="navBlock left_margin">
        Page Manager
    </div>

    <div class="navBlock left_margin">
        News Manager
    </div>

    <div class="navBlock left_margin">
        Template Manager
    </div>

    <!-- Second Row-->
    <div class="navBlock">
        Gallery Manager
    </div>

    <div class="navBlock left_margin">
        Slide Manager
    </div>

    <div class="navBlock left_margin">
        Configuration
    </div>

    <div class="navBlock left_margin">
        Help
    </div>

    <!-- 3rd row-->
    <div class="navBlock" ng-click="preview()">
        Preview
    </div>

    <div class="navBlock left_margin">
        User Manager
    </div>

    <div class="navBlock left_margin">
        XXXXXX
    </div>

    <div class="navBlock left_margin" ng-click="logout()">
        Logout
    </div>

</div>