<div class="innerContainer">
    <div class="containerHeader">
        <div class="title">
            EDIT POST
        </div>
        <div class="navs" ng-click="go('/cpanel')">CPanel</div>

        <br style="clear:both">
    </div>

    <div class="body">

        <label>Post Title</label>
        <input type="text" ng-model="editPost.title">

        <label>Post Body</label>
        <div class="tinymceHolder">
            <textarea data-ui-tinymce ng-model="editPost.body"></textarea>
        </div>

        <button ng-show="haveID" class="submit_button" ng-click="updatePost()">Update Post</button>
        <button ng-hide="haveID" class="submit_button" ng-click="addPost()">Submit</button>
        <button  class="submit_button" ng-click="go('/postManager')">Cancel</button>

    </div>

</div>