        <div id="loginBox">

                    <div id="loginTitle">
                        Login to Continue
                    </div>

                    <label>Username</label>

                    <input type="text" name="username" id="username" ng-model="user.username" autofocus="true">

                    <label>Password</label>

                    <input type="password" name="password" id="password" ng-model="user.password">

                    <button ng-click="login(user)" >Login</button>

                    <div ng-show="loginerror" id="loginError">
                        Incorrect username or password! Try again.
                    </div>


        </div>



