<div class="innerContainer">
    <div class="containerHeader">
        <div class="title">
            POST MANAGER
        </div>
        <div class="navs" ng-click="go('/cpanel')">CPanel</div>
                <div class="navs" ng-click="go('/addPost')">Add Post</div>

        <br style="clear:both">
    </div>

    <div class="body">

        <!--<li ng-repeat="post in posts">-->
            <!--{[{ post.title }]}-->
        <!--</li>-->

        <table>

            <thead>
                <tr>
                    <th>Sl#</th>
                    <th>Post Title</th>
                    <th>Delete Post</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in posts">
                    <td> {[{ $index+1 }]}</td>
                    <td class="title" ng-click="editThisPost(post)">{[{ post.title }]}</td>
                    <td><button class="delete_button" ng-click="deletePost(post,$index)">Delete</button></td>
                </tr>
                <!--<tr>-->
                    <!--<td>1</td>-->
                    <!--<td>Tittle 1</td>-->
                    <!--<td><button>Delete</button></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>1</td>-->
                    <!--<td>Tittle 1</td>-->
                    <!--<td><button>Delete</button></td>-->
                <!--</tr>-->
            </tbody>

        </table>

    </div>

</div>