{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>

    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <script type="text/javascript" src="{% static "js/lib/jquery-1.11.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/jquery.totemticker.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>

</head>
<body>
        <div id='wrapper'>
            <div id='header'>
                <div class="wrapper">
                    <div id="logo">
                        <img src="{% static "templateFiles/images/logo.png" %} ">
                    </div>
                </div>
            </div>
            <div id="nav_bar">
                <div class="wrapper">
                    <ul>
                    {% for item in nav_list %}
                        {% if page_type == item.type %}
                            <li class="active"><a href="/{{item.slug}}">{{item.nav_name}}</a></li>
                        {% else %}
                            <li><a href="/{{item.slug}}">{{item.nav_name}}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>

            {% block site_container %}{% endblock %}

            <div id="social_bar">
                <div class="wrapper">
                    <div class="social_block">
                        <div class="header">Like us on Facebook</div>
                        <p>Hello sfjkdjk</p>
                    </div>

                    <div class="social_block left_margin">
                                    <div class="header">Like us on Facebook</div>
                                    <p>Hello sfjkdjk</p>
                    </div>

                    <div class="social_block left_margin">
                                    <div class="header">Like us on Facebook</div>
                                    <p>Hello sfjkdjk</p>
                    </div>

                    <br style="clear:both">
                </div>
            </div>

            <div id='footer'>
                <div class="wrapper">
                    <div class="footer_nav">
                        QUICK LINKS<br><br>
                        <ul>
                        {% for item in nav_list|slice:":4" %}
                            <li><a href="/{{item.slug}}">{{item.nav_name}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>

                    <div class="footer_nav">
                                    <ul>
                                    {% for item in nav_list|slice:"4:8" %}
                                        <li><a href="/{{item.slug}}">{{item.nav_name}}</a></li>
                                    {% endfor %}
                                    </ul>
                    </div>

                    <div id="footer_contact">
                        CONTACT US<br><br>
                        <div id="contact_info">
                            {{ college.contact |safe }}
                        </div>
                    </div>

                    <br style="clear:both">

                </div>

            </div>


            <div id="footer_copy_right">
                <div class="wrapper">
                    Copyright &copy; - 2014 {{ college.name }}. All Rights Reserved.
                </div>
            </div>

        </div>

</body>
</html>