{% extends "current/base.html" %}

{% block site_container %}

    {% autoescape off %}
        <div id="content_area">
            <div class="wrapper">


                <div class="other_block">

                    <div class="normal_block_title">
                        CONTACT US{{ posts.0.title }}
                    </div>

                    <div class="normal_block_body">
                        {{ posts.0.body }}
                    </div>

                </div>

                <!--<div class="news_block">-->

                    <!--<div class="normal_block_title">-->
                        <!--CONTACT US-->
                    <!--</div>-->

                    <!--<div class="normal_block_body">-->
                        <!--{{ posts.1.body }}-->
                    <!--</div>-->

                <!--</div>-->

                <br style="clear: both">
            </div>
        </div>

    {% endautoescape %}

{% endblock %}