{% extends "current/base.html" %}

{% block site_container %}

     <div id="slide_area">
        <div class="wrapper">

        </div>
     </div>

    {% autoescape off %}
        <div id="content_area">
            <div class="wrapper">


                <div class="normal_block">

                    <div class="normal_block_title">
                        || {{ posts.0.title }}
                    </div>

                    <div class="normal_block_body">
                        {{ posts.0.body }}
                    </div>

                </div>

                <div class="normal_block" style="margin-left: 20px;">

                    <div class="normal_block_title">
                        || {{ posts.1.title }}
                    </div>

                    <div class="normal_block_body">
                        {{ posts.1.body }}
                    </div>

                </div>

                <div class="news_block">

                    <div class="normal_block_title">
                        NEWS AND EVENTS
                    </div>

                    <div class="news_block_body">

                            <ul id="news_ticker">
                                <li>Polytechnic diploma engineers’ showcase, POOL CAMPUS RECRUITMENT</li>
                                <li>Polytechnic diploma engineers’ showcase, POOL CAMPUS RECRUITMENT</li>
                                <li>Polytechnic diploma engineers’ showcase, POOL CAMPUS RECRUITMENT</li>
                                <li>Polytechnic diploma engineers’ showcase, POOL CAMPUS RECRUITMENT</li>
                                <li>Polytechnic diploma engineers’ showcase, POOL CAMPUS RECRUITMENT</li>
                                <li>Polytechnic diploma engineers’ showcase, POOL CAMPUS RECRUITMENT</li>
                                <li>Polytechnic diploma engineers’ showcase, POOL CAMPUS RECRUITMENT</li>
                                <li>Polytechnic diploma engineers’ showcase, POOL CAMPUS RECRUITMENT</li>

                            </ul>
                    </div>

                </div>

                <!-- Second Row -->

                <div class="normal_block_large">

                    <div class="normal_block_large_title">
                        || {{ posts.0.title }}
                    </div>

                    <div class="normal_block_large_body">
                        {{ posts.0.body }}
                    </div>

                </div>

                <div class="campus_connect_block">

                    <div class="normal_block_title">
                        CampusConnect
                    </div>

                    <div class="news_block_body">

                            <form>
                                <label>Username</label>
                                <input type="text" name="">
                                <label>Password</label>
                                <input type="text" name="">
                                <button>Login</button>
                            </form>
                    </div>

                </div>


            </div>

                <br style="clear: both">
        </div>

    {% endautoescape %}

{% endblock %}
