/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/******* My Code start **********/
body{
    font-family:'Segoe UI', sans-serif;
    background-color: #A4CC61;
    box-sizing: border-box;
    height: 100%;
}
#header{
    font-size: 20px;
    background-color: #ffffff;
    color: #080808;
    width: 100%;
    /*height: 120px;*/
    box-sizing: border-box;
    padding: 20px 0;
    border-bottom: 1px solid #D2D2D2;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}
.wrapper{
    width: 980px;
    margin: 0 auto;
}

#logo{
    width: 190px;
    height: 45px;
    float: left;
}

#nav{
    float: left;
}

#footer{
    padding: 20px;
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 14px;
}

#container{
    min-height: 400px;
    width: 100%;
    padding: 150px 0 50px 0;
}

.navBlock{
    width: 230px;
    padding: 20px;
    padding-top: 40px;
    box-sizing: border-box;
    height: 100px;
    background-color: #ffffff;
    float: left;
    text-align: center;
    text-transform: capitalize;
    border: 6px solid #759b34;
    margin-bottom: 30px;
    cursor: pointer;
}

.navBlock:hover{
    border: 6px solid #1f6377;
}

.left_margin{
    margin-left: 20px;
}

#loginBox{
    background-color: #ffffff;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    /*box-sizing: border-box;*/
}

#loginTitle{

    padding: 10px 0;
    border-bottom: 1px solid #759b34;
    font-weight: bold;
    /*text-align: center;*/
    margin-bottom: 30px;
}

#loginBox label{
    width: 100%;
    margin-bottom: 20px;
}

#loginBox input{
    width: 96%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #759b34;
}

#loginBox button{
    color: #ffffff;
    width: 100px;
    padding: 10px;
    text-align: center;
    background-color: #759b34;
    border: 0;
    margin: 0 auto;
    font-weight: bold;
    cursor:pointer;
}

#loginBox button:hover{
    background-color: #1F6377;
}

#loginError{
    color: red;
    font-size: 12px;
    padding: 10px 0;
}

.innerContainer{
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    height: 100%;
    margin-bottom: 50px;
}
.containerHeader{
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #080808;
    font-weight: bold;
}

.containerHeader .title {
    float: left;
}

.containerHeader .navs {
    float: right;
    cursor: pointer;
    margin-left: 20px;
    color:#000000;
}

.containerHeader .navs:hover {
    color:#A4CC61;
}

.innerContainer .body {
    padding: 10px 0;
    font-size: 14px;
}

/*.innerContainer .body ul{*/
    /*list-style: none;*/
/*}*/

/*.innerContainer .body ul li{*/
    /*padding: 5px;*/
    /*border:  1px solid #f2f2f2;*/
    /*font-size: 12px;*/
/*}*/

.innerContainer .body .submit_button{
    color: #ffffff;
    min-width: 100px;
    padding: 10px;
    padding: 10px;
    text-align: center;
    background-color: #759b34;
    border: 0;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
}

.innerContainer .body .submit_button:hover{
    background-color: #1F6377;
}

.innerContainer .body table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.innerContainer .body table tr {
    /*background: #DAEEF3;*/
    cursor: pointer;
}
.innerContainer .body table tr:hover{
    background: #EDEDED;
}

.innerContainer .body th {
    background: #15161E;
    color: white;
    font-weight: bold;
    padding: 6px;
    border: 1px solid #3A3B3F;
    text-align: left;
}
.innerContainer .body td{
    padding: 5px;
    border: 1px solid #ccc;
    text-align: left;
}

.innerContainer .body td.title{
    font-weight: bold;
}

.delete_button {
    padding: 2px;
    border: 0;
    width: 50px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    cursor:pointer;
    font-size: 11px;
}
.innerContainer .body table button:hover {
    background-color: red;
}

#cpanelHolder{

    padding-top: 50px;
}

.innerContainer .body label{
    width: 100%;
    display: block;
    padding:10px 0;
    font-weight: bold;
}

.innerContainer .body input, .innerContainer .body textarea{
    width: 96%;
    display: block;
    padding:10px;
    border: 1px solid #080808;
    margin-bottom: 10px;
}


.statusMsg{
    float: right;
    font-size: 14px;
    padding-top: 10px;
    font-weight: bold;
}

.successMsg{
    color: #759b34;
}

.errorMsg{
    color: red;
}

.tinymceHolder{
    margin-bottom: 20px;
    width: 98%;
}