/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/******* My Code start **********/
body{
    font-family: 'WOL_SB','Segoe UI Semibold','Segoe UI',Tahoma,Helvetica,sans-serif;
}
#header{
    background-color: #1A1A1A;
    color: #d2d2d2;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    padding-top: 20px;
}
.wrapper{
    width: 980px;
    margin: 0 auto;
}
#nav_bar{
    background-color: #253A3F;
    height: 33px;
    width: 100%;
    z-index: 9;
    padding-top: 10px;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    text-transform: uppercase   ;
}

#nav_bar a{
     color: #d2d2d2;
    text-decoration: none;
    display: block;
    height: 100%;
}

#nav_bar a:visited {
     color: #d2d2d2;
}

#nav_bar li:hover a, #nav_bar li.active:hover a{
     color: #ffffff;
}

#nav_bar ul{
    list-style: none;
}

#nav_bar ul li{
    display: inline-block;
    min-width: 50px;
    margin-right: 10px;
}

#nav_bar ul li.active a{
    color: #6dc2e9;
}

#slide_area{
    width: 100%;
    height: 400px;
    background-color: #00CCFF;
}

#logo{
    height: 70px;
    width: 980px;
    overflow: hidden;
}

#footer{
    background-color: #1A1A1A;
    border-top:7px solid #00BCF2;
    padding:30px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}
.footer_nav{
    color: #ffffff;
    font-size: 13px;
    width: 300px;
    float: left;
}

.footer_nav ul{
    list-style: none;
}
.footer_nav ul li{
    line-height: 30px;
}

.footer_nav ul li a, .footer_nav ul li a:visited{
    color: #d2d2d2;
    text-decoration: none;
}

.footer_nav ul li a:hover{
    color: #ffffff;
}

#footer_contact{
    color: #ffffff;
    font-size: 13px;
    /*width: 580px;*/
    float: right;
    /*text-align: right;*/
}

#contact_info{
    line-height: 20px;
}

#footer_copy_right{
    background-color: #333333;
    padding: 10px;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
}

#content_area{
    padding: 30px 0;
}

.normal_block{
    background-color: #EDEDF0;
    width: 320px;
    box-sizing: border-box;
    color: #454545;
    float: left;
    min-height: 200px;
}

.normal_block_title{
    background-color: #00CCFF;
    color: #ffffff;
    padding: 8px;
    font-size: 16px;
    font-weight:normal;
    text-transform: uppercase;
}

.normal_block_body{
    padding: 8px;
    font-size: 12px;
}

.news_block{
    background-color: #D2D2D2;
    width: 300px;
    box-sizing: border-box;
    color: #454545;
    float: left;
    margin-left: 20px;
    height: 200px;
    overflow: hidden;
    font-size: 12px;
}

.news_block_body{
    padding: 5px;
}
.news_block_body ul{
    margin-top: 5px;
    height: 150px;
    overflow: hidden;
    /*border:1px solid red;*/
    /*box-sizing: border-box;*/
}

.news_block_body li{
    padding: 7px;
    background-color: #ffffff;
    /*margin-top: 3px;*/
    /*margin-bottom: 3px;*/
    height: 50px;
    border-bottom: 2px solid #D2D2D2;
    border-top: 2px solid #D2D2D2;
    box-sizing: border-box;
}

.other_block{
    background-color: #EDEDF0;
    width: 640px;
    box-sizing: border-box;
    color: #454545;
    float: left;
    min-height: 400px;
}

#social_bar{
    width: 100%;
    background-color: #D2D2D2;
    height: 215px;
    box-sizing:border-box;
    padding: 60px 0;
    color: #454545;
    line-height: 30px;
    margin-top: 30px;
}

.social_block{
    width: 320px;
    font-size: 14px;
    float: left;
}

.social_block .header{
    font-size: 16px;
    font-weight: bold;
    color: #495B63;
}

.left_margin{
    margin-left: 10px;
}

.normal_block_large{
    margin-top: 20px;
    background-color: #EDEDF0;
    width: 660px;
    box-sizing: border-box;
    color: #454545;
    float: left;
    min-height: 200px;
    overflow: hidden;
}

.normal_block_large_title{
    background-color: #00CCFF;
    color: #ffffff;
    padding: 8px;
    font-size: 16px;
    font-weight:normal;
    text-transform: uppercase;
}

.normal_block_large_body{
    padding: 8px;
    font-size: 12px;
}

.campus_connect_block{
    margin-top: 20px;
    background-color: #D2D2D2;
    width: 300px;
    box-sizing: border-box;
    color: #ffffff;
    float: left;
    margin-left: 20px;
    height: 200px;
    overflow: hidden;
    font-size: 12px;
}

.campus_connect_block_body{
    padding: 5px;
}

.news_block_body form{
    padding: 10px;
}
.news_block_body label{
    display: block;
    height: 20px;
}

.news_block_body input{
    display: block;
    height: 20px;
    margin-bottom: 10px;
    width: 100%;
    border: 0;
}

.news_block_body button{
    padding: 5px;
    min-width: 60px;
    color: #ffffff;
    background-color: #00BCF2;
    border: 1px solid #ffffff;
}

.news_block_body button:hover{
    background-color: #0072C6;
}