{% load staticfiles %}
<!DOCTYPE html>
<head>
    <title>CampusCMS Admin</title>

    <link rel="stylesheet" href="{% static "css/admin/style.css" %}">

    <script src="{% static "js/lib/angular/angular.min.js" %}"></script>
    <script src="{% static "js/app/app.js" %}"></script>

</head>

<body ng-app="adminApp">

    <div ng-controller="CPanelCtrl" ng-init="initialize('CampusCMS')">

        <div id="header">
            <div class="wrapper">
                <div id="logo">
                    <img src="{% static "images/admin/campusCMS.png" %}">
                </div>

                <div id="nav">

                </div>

                <br style="clear: both">
            </div>

        </div>

        <div id="container">

            <div class="wrapper">

                <div class="navBlock">
                    Post Manager
                </div>

                <div class="navBlock left_margin">
                    Page Manager
                </div>

                <div class="navBlock left_margin">
                    News Manager
                </div>

                <div class="navBlock left_margin">
                    Template Manager
                </div>

                <!-- Second Row-->
                <div class="navBlock">
                    Gallery Manager
                </div>

                <div class="navBlock left_margin">
                    Slide Manager
                </div>

                <div class="navBlock left_margin">
                    Configuration
                </div>

                <div class="navBlock left_margin">
                    Help
                </div>

                <!-- 3rd row-->
                <div class="navBlock">
                    Preview
                </div>

                <div class="navBlock left_margin">
                    XXXXXX
                </div>

                <div class="navBlock left_margin">
                    XXXXXX
                </div>

                <div class="navBlock left_margin">
                    Logout
                </div>

            </div>

        </div>

        <div id="footer">
            Copyright &copy; 2014 All Rights Reserved <span style="font-weight: bold;">McLosys Creative</span>
        </div>

    </div>

</body>
</html>
