{% load staticfiles %}
<!DOCTYPE html>
<head>
    <title>CampusCMS Admin</title>

    <link rel="stylesheet" href="{% static "css/admin/style.css" %}">

    <script src="{% static "js/lib/angular/angular.min.js" %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-route.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-ressource.min.js"></script>-->

    <script src="{% static "js/app/app.js" %}"></script>
    <script src="{% static "js/app/controllers/app-controller.js" %}"></script>
    <script src="{% static "js/app/controllers/posts-controller.js" %}"></script>
    <script src="{% static "js/app/services/user-service.js" %}"></script>
    <script src="{% static "js/app/services/posts-service.js" %}"></script>
    <script src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script type="text/javascript" src="{% static "js/app/tinymce.js" %}"></script>

</head>

<body ng-app="adminApp">

    <div ng-controller="CPanelCtrl">

        <div id="header">
            <div class="wrapper">

                <div id="logo">
                    <img src="{% static "images/admin/campusCMS.png" %}">
                </div>

                <div ng-show="statusMsg" class="statusMsg" ng-class="statusMsgType">
                    {[{ statusMsg }]}
                </div>

                <br style="clear: both">
            </div>

        </div>

        <div id="container">

            <div class="wrapper" ng-view >


            </div>

        </div>

        <div id="footer">
            Copyright &copy; 2014 All Rights Reserved <span style="font-weight: bold;">McLosys Creative</span>
        </div>

    </div>

</body>
</html>
