{% load staticfiles %}
<!DOCTYPE html>
<head>
    <title>CampusCMS Admin</title>

    <link rel="stylesheet" href="{% static "css/admin/style.css" %}">

    <script src="{% static "js/lib/angular/angular.min.js" %}"></script>
    <script src="{% static "js/app/app.js" %}"></script>

</head>

<body ng-app="adminApp">

    <div ng-controller="CPanelCtrl" ng-init="initialize('CampusCMS')">

        <div id="header">
            <div class="wrapper">

                <div id="logo">
                    <img src="{% static "images/admin/campusCMS.png" %}">
                </div>

                <br style="clear: both">
            </div>

        </div>

        <div id="container">

            <div class="wrapper">

                <div id="loginBox">

                    <div id="loginTitle">
                        Login to Continue
                    </div>

                    <label>Username</label>

                    <input type="text" name="username" id="username">

                    <label>Password</label>

                    <input type="password" name="password" id="password">

                    <button>Login</button>


                </div>

            </div>

        </div>

        <div id="footer">
            Copyright &copy; 2014 All Rights Reserved <span style="font-weight: bold;">McLosys Creative</span>
        </div>

    </div>

</body>
</html>
